.highlight {
  font-family: $monospace;
  font-size: 14px;
  line-height: 1.5;
}

// @import "pygments/autumn";
// @import "pygments/borland"
// @import "pygments/bw"
// @import "pygments/colorful"
// @import "pygments/default"
// @import "pygments/emacs"
// @import "pygments/friendly"
// @import "pygments/fruity"
// @import "pygments/manni"
// @import "pygments/monokai"
// @import "pygments/murphy"
// @import "pygments/native"
// @import "pygments/pastie"
// @import "pygments/perldoc"
@import "pygments/tango"
// @import "pygments/trac"
// @import "pygments/vim"
// @import "pygments/vs"
