body {
    line-height: 1.25em;
}

header {
    .site-name {
        font-variant: small-caps;
        font-size: 1.2em;
    }
    a {
        text-decoration: none;
    }
}

.date {
    margin-top: -1em;
    font-style: italic;
}

.page,
.post,
.posts {
    max-width: 600px;
}
