body {
    font-size: 14pt;
    line-height: 1.5em;
}

pre {
    font-size: 10pt;
    line-height: 1.2em;
    overflow: auto;
}

header {
    padding: 10px 0 0 0;
    text-align: center;

    .site-name {
        font-size: 1.5em;
        font-family: serif;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    nav {
        margin-top: 10px;
    }
}

footer {
    font-size: 0.9em;
    text-align: center;
}

.date {
    font-size: 0.9em;
    font-style: italic;
    margin: -0.8em 0 1em;
}

header,
footer,
.page,
.post,
.posts {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post {
    img {
        max-width: 100%;
    }
}

.avatar {
    width: 200px;
    border-radius: 5px;
    margin: 0 0 5px 5px;
    float: right;
}

// Inline code blocks
code.highlighter-rouge {
    font-size: 0.85em;
    border-radius: 6px;
    padding: 0.2em 0.4em;
    background: #eee;
}
