body {
    font-size: 14pt;
    line-height: 1.5em;
}

pre {
    font-size: 10pt;
    line-height: 1.2em;
    overflow: auto;
}

header {
    padding: 10px 0 0 0;
    text-align: center;

    .site-name {
        font-size: 1.5em;
        font-family: serif;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    nav {
        margin-top: 10px;
    }
}

footer {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 0.9em;
    text-align: right;
    color: #999;
}

.date {
    font-size: 0.9em;
    margin: -0.8em 0 1em;
}

header,
footer,
.page,
.post,
.posts {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.posts h2 > a {
    color: #000;
    text-decoration: none;
}

.avatar {
    width: 200px;
    border-radius: 5px;
    margin: 0 0 5px 5px;
    float: right;
}

@import "autumn";

p,
li {
    code {
        background: #eee;
        border-radius: 5px;
        padding: 0.1em 0.2em;
        font-size: 0.8em;
    }
}

.highlight > pre.chroma {
    background: #f7f7f7;
    padding: 5px;
}

hr {
    border-bottom: 0;
    border-style: solid;
}
