{{ define "header" }}
<header>
  <h1>Kevin DeLoach</h1>
  <h2>Software Engineer, Philadelphia, PA</h2>
</header>
{{ end }}

{{ define "main" }}
<main>
  {{ .Content }}

  <h3>Posts</h3>
  <ul>
  {{- range where .Site.RegularPages "Section" "posts" }}
  <li><span class="date">{{ .Date.Format "2006-01-02" }}</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}
  </ul>

  <h3>Contact</h3>
  <ul>
    <li><a href="{{ "Resume.pdf" | relURL }}">Resume</a></li>
    <li><a href="https://github.com/kdeloach">GitHub</a></li>
    <li><a href="mailto:kdeloach@gmail.com">Email</a></li>
  </ul>
</main>
{{ end }}
