{{ define "header" }}
<header>
  <h1>Kevin DeLoach</h1>
  <h2>Full Stack Software Engineer, Philadelphia, PA</h2>
</header>
{{ end }}

{{ define "main" }}
<main>
  {{ .Content }}

  <h3>Posts</h3>
  <ul>
  {{- range .Site.PagesByTag.post }}
  <li><span class="date">{{ .Date.Format "2006-01-02" }}</span> <a href="{{ .Dir }}">{{ .Title }}</a></li>
  {{- end }}
  </ul>

  <h3>Contact</h3>
  <ul>
    <li><a href="Resume.pdf">Resume</a></li>
    <li><a href="https://github.com/kdeloach">github.com/kdeloach</a></li>
    <li><a href="mailto:kdeloach@gmail.com">kdeloach@gmail.com</a></li>
  </ul>
</main>
{{ end }}
