{{ define "main" }}
<section class="mb-20">
  <img src="/images/kdeloach.jpg" alt="Image of Kevin DeLoach" class="w-32 h-32 rounded-full shadow-md flex-shrink-0 float-right" />
  <h2 class="text-5xl font-bold text-gray-900 leading-tight mb-4">
    Full Stack Software Engineer
  </h2>
  <p class="text-2xl text-gray-500 mb-4">
    Philadelphia, PA
  </p>
  {{ .Content }}
</section>

<section class="max-w-5xl mx-auto px-4 py-8">
  <h2 class="text-xl font-semibold mb-6">Posts</h2>

  <ul>
  {{- range .Site.PagesByTag.post }}
  <li><span class="home-date">{{ .Date.Format "2006-01-02" }}</span> <a href="{{ .Dir }}">{{ .Title }}</a></li>
  {{- end }}
  </ul>
</section>
{{ end }}
