.wordle-form {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
}
.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
    margin: 5px;
    color: inherit;
}
.tile-G {
    background: green;
    border-color: green;
    color: #fff;
}
.tile-Y {
    background: gold;
    border-color: gold;
}
.tile-W {
    background: gray;
    border-color: gray;
}
