<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="Kevin DeLoach">
<meta name="description" content="{{ site.description }}">
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
<header>
    <div class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        &bull; <a href="{{ site.baseurl }}{% link _pages/about.md %}">About</a>
        &bull; <a href="{{ site.baseurl }}/Resume.pdf">Resume</a>
        &bull; <a href="https://github.com/kdeloach">GitHub</a>
        &bull; <a href="{{ site.baseurl }}/feed.xml">RSS</a>
    </nav>
    <hr />
</header>
{{ content }}
<script src="{{ site.baseurl }}/assets/js/bundle.js"></script>
<!-- repository_url: {{ site.github.repository_url }} -->
<!-- build_revision: {{ site.github.build_revision }} -->
<!-- generated time: {{ site.time }} -->
</body>
</html>
