.wordle-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wordle-form > .grid {
    display: flex;
    flex-direction: column;
}
.wordle-form > .guess {
    margin-bottom: 25px;
    text-align: center;
}
.tile-row {
    display: flex;
    justify-content: center;
}
.tile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #ccc;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    color: inherit;
}
.tile-small {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    line-height: 25px;
    font-size: 1em;
    text-align: center;
    margin: 1px;
    color: inherit;
}
.tile-G {
    background: green;
    border-color: green;
    color: #fff;
}
.tile-Y {
    background: gold;
    border-color: gold;
}
.tile-W {
    background: gray;
    border-color: gray;
}
.error {
    color: red;
    text-align: center;
}
.tile-clue-input {
    display: flex;
    justify-content: center;
    gap: 1px;
}
.tile-clue {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
